<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ttshrk.view.scrollPicker"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name="com.ttshrk.view.scrollPicker.SampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.ttshrk.view.scrollPicker.TimeSampleActivity" android:label="time sample" />
		<activity android:name="com.ttshrk.view.scrollPicker.DateSampleActivity" android:label="date sample" />
		<activity android:name="com.ttshrk.view.scrollPicker.ListSampleActivity" android:label="list sample" />
		<activity android:name="com.ttshrk.view.scrollPicker.FullScreenSampleActivity" android:label="customize sample" />
		<activity android:name="com.ttshrk.view.scrollPicker.CustomizeSampleActivity" android:label="customize sample" />
    </application>
</manifest>